{{> schoolAd-sidenav dashboard=true}}
<div class="main-content" id="panel">
  {{> schoolAd-topnav dashboard=true mode=primary}}
  <!-- Page content -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">
                      BUILDINGS
                    </h5>
                    <span class="h2 font-weight-bold mb-0"> {{totalBuilding}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-blue
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-building "></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-blue mr-2"><i class="ni ni-building mr-2"></i></span>
                  <span class="text-nowrap"> Total No. of Building</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-orange mb-0">
                      ROOMS
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{totalRoom}}</span>
                  </div>
                  <div ni-circle-08 class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-orange
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-shop"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-orange mr-2"><i class="ni ni-shop"></i></span>
                  <span class="text-nowrap"> Total No. of Rooms</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-red mb-0">
                      ROOM SHORTAGE
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{total}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-red
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-danger mr-2"><i class="ni ni-chart-bar-32"></i></span>
                  <span class="text-nowrap">Total No. Of Rooms Needed</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-success mb-0">
                      Total Student
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{students.totalStudent}}</span>
                  </div>
                  <div ni-circle-08 class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-green
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="ni ni-money-coins"></i></span>
                  <span class="text-nowrap">Total No. Of Student</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--4">
    <!-- <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="row">
            <div class="col-sm-12 p-4">
              <img src="{{credentials.school_profile}}" class="img-fluid" style="
                      align-items: center; border-radius: 5px;" />
              <h1 class="text-center mt-2 ml-3 font-weight-bold display-3">{{credentials.school_name}}</h1>
              <h2 class="text-center mb-10 font-italic">ID: {{credentials.school_ID}}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card">
          <div class="row" style="height:624px;">
            <img src="/assets/img/logo/MC.png" class="img-fluid" style="width: 28rem; height: 32rem; margin-left: 13rem; margin-top: 4rem;" />
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Buildings Request</h3>
              </div>
              <div class="col text-right">
                <!-- <a href="" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#requestBuilding">Existing Building</a> -->
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Building Number</th>
                  <th scope="col">Condition</th>
                  <th scope="col">Status</th>
                  <th scope="col">Note</th>
                  <th scope="col">Request</th>
                </tr>
              </thead>
              <tbody>
                {{#each buildingRequest}}
                <tr>
                  <td scope="row">{{this.buildingNumber}}</td>
                  <td class="text-danger">{{this.buildingCondition}}</td>
                  <td class="text-danger">{{this.status}}</td>
                  <td class="text-danger">{{this.note}}</td>
                  <td>
                    <button class="btn btn-sm btn-info requestBtn" data-id="{{this._id}}"
                      data-number="{{this.buildingNumber}}" data-condition="{{this.buildingCondition}}"
                      data-status="{{this.status}}">Request</button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Rooms Request</h3>
              </div>
              <div class="col text-right">
                <!-- <a href="" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#requestBuilding">Existing Building</a> -->
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Room Number</th>
                  <th scope="col">Building Number</th>
                  <th scope="col">Floor</th>
                  <th scope="col">Condition</th>
                  <th scope="col">Status</th>
                  <th scope="col">Note</th>
                  <th scope="col">Request</th>
                </tr>
              </thead>
              <tbody>
                {{#each roomRequest}}
                <tr>
                  <td scope="row">{{this.roomNumber}}</td>
                  <td class="text-danger">{{this.building_id.buildingNumber}}</td>
                  <td class="text-danger">{{this.floor}}</td>
                  <td class="text-danger">{{this.roomCondition}}</td>
                  <td class="text-danger">{{this.status}}</td>
                  <td class="text-danger">{{this.note}}</td>
                  <td>
                    <button class="btn btn-sm btn-info requestBtn1" data-id="{{this._id}}"
                      data-roomNumber="{{this.roomNumber}}" data-status="{{this.status}}"
                      data-condition="{{this.roomCondition}}">Request</button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Request New</h3>
              </div>
              <div class="col text-right">
                <a href="" class="btn btn-info " data-toggle="modal" data-target="#requestModal">Request
                  New</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Condition</th>
                  <th scope="col">Status</th>
                  <th scope="col">Note</th>
                </tr>
              </thead>
              <tbody>
                {{#each request}}
                <tr>
                  <td scope="row">{{this.name}}</td>
                  <td class="text-danger">{{this.specific}}</td>
                  <td class="text-danger">{{this.status}}</td>
                  <td class="text-danger">{{this.note}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ***************** REQUEST add Modal *********************** -->
  <div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form role="form" method="POST" action="/schoolAd/reqNew">
          <div class="card-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-lg-11 pl-5">
                <label>Name</label>
                <select name="name" class="form-control">
                  <option selected></option>
                  <option>BUILDING</option>
                  <option>FACILITY</option>
                  <option>FURNITURE</option>
                  <option>ROOM</option>
                  <option>WATER & SANITATION</option>
                </select>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Specific Request</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>
                <input type="string" class="form-control" value="REQUESTED" name="status" hidden>
                <input type="string" class="form-control" placeholder="" name="specific" required>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label for="exampleFormControlTextarea1">Note</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>

                <textarea class="form-control" name="note" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="col-12 text-right pr-5">
                <button id="btn-save" type="submit" class="btn btn-primary">
                  Request
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--  ***************** REQUEST Building Modal *********************** -->
  <div class="modal fade requestBuilding" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/schoolAd/buildReq" method="POST">
            <div class="row">
              <div class="form-group col-lg-11  pl-5">
                <label>Building Number</label>
                <input type="text" name="id" id="request_id" hidden>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>
                <input type="string" class="form-control" id="number" value="number" name="buildingNumber" disabled>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Condition</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>
                <input type="string" class="form-control" id="condition" value="condition" placeholder=""
                  name="condition" disabled>
              </div>

              <div class="form-group col-lg-11  pl-5">
                <input type="string" class="form-control" value="REQUESTED" name="status" hidden>
                <label for="exampleFormControlTextarea1">Note</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>

                <textarea class="form-control" name="note" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <div class="col-12 text-right pr-5">
                <button id="btn-save" type="submit" class="btn btn-primary">
                  Request
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--  ***************** REQUEST Room Modal *********************** -->
  <div class="modal fade requestRoom" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/schoolAd/roomReq" method="POST">
            <div class="row">
              <div class="form-group col-lg-11  pl-5">
                <label>Room Number</label>
                <input type="text" name="_id" id="room_id" hidden>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>
                <input type="string" class="form-control" id="roomNumber" value="roomNumber" name="buildingNumber"
                  disabled>
              </div>
              <div class="form-group col-lg-11  pl-5">
                <label>Condition</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>
                <input type="string" class="form-control" id="roomCondition" value="roomCondition" placeholder=""
                  name="condition" disabled>
              </div>

              <div class="form-group col-lg-11  pl-5">
                <input type="string" class="form-control" value="REQUESTED" name="status" hidden>
                <label for="exampleFormControlTextarea1">Note</label>
                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="focus" title=""
                  data-placement="top"
                  data-content="Refers to the number of classes or sections using Temporary Learning Space/s.">
                  <span class="material-icons">
                    help_outline
                  </span>
                </a>

                <textarea class="form-control" name="note" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>

              <div class="col-12 text-right pr-5">
                <button id="btn-save" type="submit" class="btn btn-primary">
                  Request
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- chart.js -->
  <script src="https://cdnjs.com/libraries/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src="https://www.jsdelivr.com/package/npm/chart.js"></script>
  <!-- chart script -->
  <script>
    // chartBar();
    chartPie();

    function chartBar() {
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              'rgba(255, 99, 132)',
              'rgba(54, 162, 235)',
              'rgba(255, 206, 86)',
              'rgba(75, 192, 192)',
              'rgba(153, 102, 255)',
              'rgba(255, 159, 64)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
    function chartPie() {
      const ctxs = document.getElementById('myCharts').getContext('2d');
      const myCharts = new Chart(ctxs, {
        type: 'pie',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              'rgba(255, 99, 132)',
              'rgba(54, 162, 235)',
              'rgba(255, 206, 86)',
              'rgba(75, 192, 192)',
              'rgba(153, 102, 255)',
              'rgba(255, 159, 64)'
            ],
            borderColor: [
              'rgba(255, 99, 132)',
              'rgba(54, 162, 235)',
              'rgba(255, 206, 86)',
              'rgba(75, 192, 192)',
              'rgba(153, 102, 255)',
              'rgba(255, 159, 64)'
            ],
            borderWidth: 1,
            hoverOffset: 4
          }]
        },
        options: {
          maintainAspectRatio: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
  </script>
  <!-- **************************** DATA TABLE script ****************************** -->
  <script>
    $(document).ready(function () {
      $('#builDamage').DataTable({
        dom: 'lBfrtip',
        buttons: [
        ],
        stateSave: true,
      });
    });
  </script>
  <!-- popOver Script -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>
  <!-- ****************************request building script************************************************** -->
  <script>
    $('.requestBtn').click(function () {

      $('#request_id').val($(this).attr('data-id'));
      $('#number').val($(this).attr('data-number'));
      $('#condition').val($(this).attr('data-condition'));

      $('.requestBuilding').modal('show');
    });
  </script>
  <!-- ****************************request room script************************************************** -->
  <script>
    $('.requestBtn1').click(function () {

      $('#room_id').val($(this).attr('data-id'));
      $('#roomNumber').val($(this).attr('data-roomNumber'));
      $('#roomCondition').val($(this).attr('data-condition'));

      $('.requestRoom').modal('show');
    });
  </script>