{{> admin-sidenav school=true}}
<div class="main-content" id="panel">
  {{> admin-topnav school=true mode=primary}}
  <!-- Page content -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">
                      BUILDINGS
                    </h5>
                    <span class="h2 font-weight-bold mb-0"> {{totalBuild}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-blue
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-building "></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-blue mr-2"><i class="ni ni-building mr-2"></i></span>
                  <span class="text-nowrap"> Total No. of Building</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-orange mb-0">
                      ROOMS
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{totalRoom}}</span>
                  </div>
                  <div ni-circle-08 class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-orange
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-shop"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-orange mr-2"><i class="ni ni-shop"></i></span>
                  <span class="text-nowrap"> Total No. of Rooms</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-red mb-0">
                      ROOM SHORTAGE
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{total}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-red
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-danger mr-2"><i class="ni ni-chart-bar-32"></i></span>
                  <span class="text-nowrap">Total No. Of Rooms Needed</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-success mb-0">
                      Total Student
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{students.totalStudent}}</span>
                  </div>
                  <div ni-circle-08 class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-green
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="ni ni-money-coins"></i></span>
                  <span class="text-nowrap">Total No. Of Student</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--2">
    <div class="row">
      <!-- <div class="col-xl-12">
        <div class="card">
          {{#each allSchools}}
          <div class="align-items-center d-inline" style="display: inline; float: left;">
            <img src="{{this.logo_img}}" style="height: 150px; margin-top: 30px; margin-left: 70px; border-radius: 20px;">
          </div>
          <div class="d-inline" style="display: inline; float: right;">
            <h1>{{this.schoolName}}</h1>
            <h3>{{this.schoolId}}</h3>
          </div>
          {{/each}}
        </div>
      </div> -->
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class=" mb-0">BUILDINGS RECORD</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Proj]]ects table -->
            <table class="table align-items-center table-flush" id="school">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">BUILDING NUMBER</th>
                  <th scope="col" class="sort" data-sort="budget">BUILDING TYPE</th>
                  <th scope="col" class="sort" data-sort="status">NUMBER OF STOREY</th>
                  <th scope="col" class="sort" data-sort="status">Year Completed</th>
                  <th scope="col" class="sort" data-sort="status">Building Condition</th>
                  <th scope="col" class="sort" data-sort="status">Fund Source</th>
                  <th scope="col" class="sort" data-sort="status">Specific Fund Source</th>
                  <th scope="col" class="sort" data-sort="status">Number of Rooms</th>
                  <th scope="col" class="sort" data-sort="status">Building Classification</th> 
                  <th scope="col" class="sort" data-sort="status">Date Acquisition</th> 
                  <th scope="col" class="sort" data-sort="status">Acquisition Cost</th> 
                  <th scope="col" class="sort" data-sort="status">Building Materials</th> 
                  <th scope="col" class="sort" data-sort="status">Book Value</th> 
                  <th scope="col" class="sort" data-sort="status">Insurance Information</th> 
                  <th scope="col" class="sort" data-sort="status">Building PWD Accessible?</th> 
                  <th scope="col" class="sort" data-sort="status">Undergone Major Repair</th> 
                  <th scope="col" class="sort" data-sort="status">Certificate of Acceptance</th> 
                  <th scope="col" class="sort" data-sort="status">Building Include in the Boook of Accountant</th> 

                </tr>
              </thead>
              <tbody>
                {{#each building}}
                <tr>
                  <td scope="row">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <a class="name mb-0 text-sm">{{this.buildingNumber}}</a>
                                
                        </div>
                    </div>
                </td>
                <td class="media align-items-center">
                    {{this.buildingType}}
                </td>
                <td>
                    <span class="media align-items-center">
                        <i class="bg-warning"></i>
                        <span class="status">{{this.numberOfStorey}}</span>
                    </span>
                </td>
                <td>
                    {{this.yearCompleted}}
                </td>
                <td>
                    {{this.buildingCondition}}
                </td>
                <td>
                    {{this.fundSource}}
                </td>
                <td>
                    {{this.specificFundSource}}
                </td>
                <td>
                    {{this.numberOfRooms}}
                </td>
                <td>
                    {{this.classificationOfBuilding}}
                </td>
                <td>
                    {{this.dateAcquisition}}
                </td>
                <td>
                    {{this.acquisitionCost}}
                </td>
                <td>
                    {{this.buildingMaterial}}
                </td>
                <td>
                    {{this.bookValue}}
                </td>
                <td>
                    {{this.insuranceInfo}}
                </td>
                <td>
                    {{this.pwdAccessible}}
                </td>
                <td>
                    {{this.undergoneMajorRepair}}
                </td>
                <td>
                    {{this.certificateOfAcceptance}}
                </td>
                <td>
                    {{this.includeDepedBook}}
                </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class=" mb-0">ROOMS RECORDS</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Proj]]ects table -->
            <table class="table align-items-center table-flush" id="room">
              <thead class="thead-light">
                  <tr>
                      <th scope="col" class="sort" data-sort="name">BUILDING NUMBER</th>
                      <th scope="col" class="sort" data-sort="name">ROOM NUMBER</th>
                      <th scope="col" class="sort" data-sort="budget">ROOM CONDITION</th>
                      <th scope="col" class="sort" data-sort="status">ACTUAL USAGE</th>
                      <th scope="col" class="sort" data-sort="status">FLOOR</th>
                      <th scope="col" class="sort" data-sort="status">DIMENSION (W)</th>
                      <th scope="col" class="sort" data-sort="status">DIMENSION (L)</th>
                  </tr>
              </thead>
              <tbody class="list">
                  {{#each allRoom}}
                  <tr>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.building_id.buildingNumber}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.roomNumber}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.roomCondition}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.actualUsage}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.floor}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.roomDimensionW}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.roomDimensionL}}</span>
                          </div>
                      </td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Facilities</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush" id="facility">
              <thead class="thead-light">
                <tr>
                  <th scope="col">NAME</th>
                  <th scope="col"></th>
                  <th scope="col">PRESENT</th>
                  <th scope="col">STATUS</th>
                </tr>
              </thead>
              <tbody>
                {{#each facility}}
                <tr>
                  <th scope="row">{{this.name}}</th>
                  <td></td>
                  <td>{{this.presentCampus}}</td>
                  <td class="">{{this.status}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Furnitures</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush" id="furniture">
              <thead class="thead-light">
                <tr>
                  <th scope="col">NAME</th>
                  <th scope="col"></th>
                  <th scope="col">TOTAL</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{#each furniture}}
                <tr>
                  <th scope="row">{{this.name}}</th>
                  <td></td>
                  <td class="">{{this.total}}</td>
                  <td></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class=" mb-0">STAND-ALONE WATER & SANITATION</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Proj]]ects table -->
            <table class="table align-items-center table-flush" id="schoolwsfs">
              <thead class="thead-light">
                  <tr>
                      <th scope="col" class="sort" data-sort="name">Male</th>
                      <th scope="col" class="sort" data-sort="name">Female</th>
                      <th scope="col" class="sort" data-sort="name">Shared</th>
                      <th scope="col" class="sort" data-sort="name">PWD</th>
                      <th scope="col" class="sort" data-sort="name">Non-Functional</th>
                      <th scope="col" class="sort" data-sort="budget">Number of Sink $ Washbin</th>
                      <th scope="col" class="sort" data-sort="status">No. of Urinals</th>
                      <th scope="col" class="sort" data-sort="status">No. of Urinals Trough</th>
                      <th scope="col" class="sort" data-sort="status">No. Septic Tank</th>
                      <th scope="col" class="sort" data-sort="status">With Faucet</th>
                      <th scope="col" class="sort" data-sort="completion">No. Without Faucet</th>
                  </tr>
              </thead>
              <tbody class="list">
                  {{#each allSWSF}}
                  <tr>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.male}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.fmale}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.shared}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.pwd}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.nonfunc}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.numberWashbin}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.urinals}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.UrinalsTrou}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.septicTank}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.wfaucet}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.wOutFaucet}}</span>
                          </div>
                      </td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class=" mb-0">BUILDING WATER & SANITATION</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Proj]]ects table -->
            <table class="table align-items-center table-flush" id="bwsfs">
              <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">BUILDING NUMBER</th>
                      <th scope="col" class="sort" data-sort="name">Male</th>
                      <th scope="col" class="sort" data-sort="name">Female</th>
                      <th scope="col" class="sort" data-sort="name">Shared</th>
                      <th scope="col" class="sort" data-sort="name">PWD</th>
                      <th scope="col" class="sort" data-sort="name">Non-Functional</th>
                      <th scope="col" class="sort" data-sort="budget">Number of Sink $ Washbin</th>
                      <th scope="col" class="sort" data-sort="status">No. of Urinals</th>
                      <th scope="col" class="sort" data-sort="status">No. of Urinals Trough</th>
                      <th scope="col" class="sort" data-sort="status">No. Septic Tank</th>
                      <th scope="col" class="sort" data-sort="status">With Faucet</th>
                      <th scope="col" class="sort" data-sort="completion">No. Without Faucet</th>
                  </tr>
              </thead>
              <tbody class="list">
                  {{#each allBWSF}}
                  <tr>
                    <td scope="row">
                      <div class="media-body">
                          <span class="name mb-0 text-sm">{{this.building_id.buildingNumber}}</span>
                      </div>
                  </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.male}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.fmale}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.shared}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.pwd}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.nonfunc}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.numberWashbin}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.urinals}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.UrinalsTrou}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.septicTank}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.wfaucet}}</span>
                          </div>
                      </td>
                      <td scope="row">
                          <div class="media-body">
                              <span class="name mb-0 text-sm">{{this.wOutFaucet}}</span>
                          </div>
                      </td>
                  </tr>
                  {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">STUDENT LIST</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush" id="temp">
            <thead class="thead-light">
              <tr>
                <th scope="col">LIST PER YEAR LEVEL</th>
                <th scope="col">TOTAL NUMBER</th>
              </tr>
            </thead>
            <tbody>
              {{#each student}}
              <tr>
                <th scope="row">{{this.yearlevel}}</th>
                <td>{{this.total}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">TRANSPORTATION & ACCESS ROAD</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush" id="makeshift">
            <thead class="thead-light">
              <tr>
                <th scope="col">ROAD TYPE</th>
                <th scope="col">TRANSPORTATION VEHICLE</th>
              </tr>
            </thead>
            <tbody>
              {{#each access}}
              <tr>
                <th scope="row">{{this.roadType}}</th>
                <td class="row">{{this.transportation}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-xl-7"></div>
      <div class="col-xl-5"></div>
    </div>
  </div>
</div>
<!-- **************************** DATA TABLE script ****************************** -->
<script>
  $(document).ready(function() {
  $('#school').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script>
  $(document).ready(function() {
  $('#facility').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script>
  $(document).ready(function() {
  $('#furniture').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script>
  $(document).ready(function() {
  $('#room').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script>
  $(document).ready(function() {
  $('#schoolwsfs').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script>
  $(document).ready(function() {
  $('#bwsfs').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script>
  $(document).ready(function() {
  $('#temp').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<script>
  $(document).ready(function() {
  $('#makeshift').DataTable( {
      dom: 'Bfrtip',
      buttons: [
          'copy', 'excel', 'pdf', 'print'
      ]
  } );
} );
</script>
<!-- <script>
  $(document).ready(function () {
      $('#school').DataTable({
          dom: 'lBfrtip',
      buttons: [
          'copyHtml5',
          'excelHtml5',
      ],
      stateSave: true,
      });
  });
</script> -->
<!-- <script>
  $(document).ready(function () {
      $('#facility').DataTable({
          dom: 'lBfrtip',
      buttons: [
          'copyHtml5',
          'excelHtml5',
      ],
      stateSave: true,
      });
  });
</script> -->
<!-- <script>
  $(document).ready(function () {
      $('#furniture').DataTable({
          dom: 'lBfrtip',
      buttons: [
          'copyHtml5',
          'excelHtml5',
      ],
      stateSave: true,
      });
  });
</script> -->
<!-- <script>
  $(document).ready(function () {
      $('#schoolwsfs').DataTable({
          dom: 'lBfrtip',
      buttons: [
          'copyHtml5',
          'excelHtml5',
      ],
      stateSave: true,
      });
  });
</script> -->
