{{> admin-sidenav dashboard=true}}
<div class="main-content" id="panel">
  {{> admin-topnav dashboard=true mode=primary}}
  <!-- Page content -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">
                      School
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{total_school}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-blue
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-building"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-blue mr-2"><i class="ni ni-building mr-2"></i></span>
                  <span class="text-nowrap"> Total No. of Schools</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-orange mb-0">
                      USER
                    </h5>
                    <span class="h2 font-weight-bold mb-0">
                      {{total_users}}</span>
                  </div>
                  <div ni-circle-08 class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-orange
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-shop"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-orange mr-2"><i class="ni ni-shop"></i></span>
                  <span class="text-nowrap"> Total No. of User</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-red mb-0">
                      ROOM
                    </h5>
                    <span class="h2 font-weight-bold mb-0">{{total_room}}</span>
                  </div>
                  <div class="col-auto">
                    <div class=" icon icon-shape bg-gradient-red
                        text-white rounded-circleshadow">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-danger mr-2"><i class="ni ni-money-coins"></i></span>
                  <span class="text-nowrap">Total No. of Rooms</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-success mb-0">
                      BUILDING
                    </h5>
                    <span class="h2 font-weight-bold mb-0"> {{total_building}}</span>
                  </div>
                  <div ni-circle-08 class="col-auto">
                    <div class="
                        icon icon-shape
                        bg-gradient-green
                        text-white
                        rounded-circle
                        shadow
                      ">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"><i class="ni ni-money-coins"></i></span>
                  <span class="text-nowrap"> Total No. of building</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-6 mt-7">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-xl-12 text-center">
                <h3 class="">BUILDING DAMAGE REQUEST</h3>
              </div>
              <!-- <div class="col text-right">
                <a href="/admin/school" class="btn btn-sm btn-primary">See all</a>
              </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" id="breq">
              <thead class="thead-light">
                <tr>
                  <!-- <th scope="col">Building Number</th> -->
                  <th scope="col">School</th>
                  <!-- <th scope="col">Condition</th> -->
                  <th scope="col">Level of Damage</th>
                  <!-- <th scope="col">Note</th> -->
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {{#each building_damage}}
                <tr class="">
                  <!-- <td scope="row">
                    <div class="media align-items-center">
                      <a class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{{this.actual_img}}">
                      </a>
                      <div class="media-body">
                        <a
                          class="name mb-0 text-sm">{{this.buildingNumber}}</a>
                      </div>
                    </div>
                  </td> -->
                  <!-- <td scope="row">{{this.buildingNumber}}</td> -->
                  <td scope="row">{{this.school_id.schoolName}}</td>
                  <!-- <td class="text-danger">{{this.buildingCondition}}</td> -->
                  <td class="text-danger">{{this.percentage}}%</td>
                  <!-- <td class="">{{this.note}}</td> -->
                  <td class="">
                    <button class="btn btn-sm btn-primary requestBtn" data-id="{{this._id}}" data-img="{{this.actual_img}}"
                      data-num="{{this.buildingNumber}}" data-con="{{this.buildingCondition}}"
                      data-stat="{{this.status}}" data-note="{{this.note}}" data-percentage="{{this.percentage}}"
                      data-roof="{{this.roof}}" data-paint="{{this.paint}}" data-wall="{{this.wall}}"
                      data-ceiling="{{this.ceiling}}" data-crack="{{this.crack}}"
                      data-schlname="{{this.school_id.schoolName}}"><span class="material-icons">
                        visibility
                      </span></button>
                    <button class="btn btn-sm btn-success approveBtn" data-id="{{this._id}}"><span
                        class="material-icons">
                        thumb_up_alt
                      </span></button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mt-7">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-sm-12 text-center">
                <h3 class="">ROOM DAMAGE REQUEST</h3>
              </div>
              <!-- <div class="col text-right">
                <a href="/admin/school" class="btn btn-sm btn-primary">See all</a>
              </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" id="rreq">
              <thead class="thead-light">
                <tr>
                  <!-- <th scope="col">Room Number</th> -->
                  <th scope="col">School</th>
                  <!-- <th scope="col">Building Number</th> -->
                  <!-- <th scope="col">Condition</th> -->
                  <th scope="col">Level of Damage</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {{#each room_damage}}
                <tr>
                  <!-- <td scope="row">
                    <div class="media align-items-center">
                      <a class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{{this.actual_img}}">
                      </a>
                      <div class="media-body">
                        <a
                          class="name mb-0 text-sm">{{this.roomNumber}}</a>
                      </div>
                    </div>
                  </td> -->
                  <td scope="row">{{this.school_id.schoolName}}</td>
                  <!-- <td class="">{{this.building_id.buildingNumber}}</td> -->
                  <!-- <td class="text-danger">{{this.roomCondition}}</td> -->
                  <td class="text-danger">{{this.percentage}}%</td>
                  <td class="">
                    <button class="btn btn-sm btn-primary requestBtn1" data-id="{{this._id}}"
                      data-img1="{{this.actual_img}}" data-rnum="{{this.roomNumber}}" data-rcon="{{this.roomCondition}}"
                      data-rstat="{{this.status}}" data-rnote="{{this.note}}"
                      data-bnum="{{this.building_id.buildingNumber}}" data-flr="{{this.floor}}"
                      data-percentage="{{this.percentage}}" data-door="{{this.door}}"
                      data-window="{{this.window}}"  data-flooring="{{this.flooring}}"
                      data-beam="{{this.beam}}"  data-column="{{this.column}}" data-board="{{this.board}}" 
                      data-wall="{{this.wall}}" data-ceiling="{{this.ceiling}}" data-toilet="{{this.toilet}}"
                      data-electric="{{this.electric}}"
                      data-rschlname="{{this.school_id.schoolName}}"><span class="material-icons">
                        visibility
                      </span></button>
                    <button class="btn btn-sm btn-success approveBtn1" data-id2="{{this._id}}"><span
                        class="material-icons">
                        thumb_up_alt
                      </span></button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-sm-12 text-center">
                <h3 class="">OTHER REQUEST</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" id="req">
              <thead class="thead-light">
                <tr>
                  <th scope="col">School</th>
                  <th scope="col">Request</th>
                  <th scope="col">Specific Request</th>
                  <th scope="col">Status</th>
                  <th scope="col">Note</th>
                  <th scope="col">Approved</th>
                </tr>
              </thead>
              <tbody>
                {{#each request}}
                <tr>
                  <td scope="row">{{this.school_id.schoolName}}</td>
                  <td scope="row">{{this.name}}</td>
                  <td class="">{{this.specific}}</td>
                  <td class="text-danger">{{this.status}}</td>
                  <td class="">{{this.note}}</td>
                  <td class="">
                    <button class="btn btn-sm btn-success approveBtn3" data-id3="{{this._id}}"><span
                        class="material-icons">
                        thumb_up_alt
                      </span></button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-sm-7 text-right">
                <h3 class="">SUMMARY REPORTS</h3>
              </div>
              <div class="col-sm-5 text-right">
                <a href="/admin/school" class="btn btn-primary btn-primary"><span class="material-icons">
                    visibility
                  </span></a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush" id="report">
              <thead class="thead-light">
                <tr>
                  <th scope="col">SCHOOLS</th>
                  <th scope="col"></th>
                  <th scope="col">SCHOOL ID</th>
                  <th scope="col">ADDRESS</th>
                  <th scope="col"></th>
                  <th scope="col">BUILDINGS</th>
                  <th scope="col">BUILDINGS WATER & SANITATION</th>
                  <th scope="col">ROOMS</th>
                  <th scope="col">FACILITIES</th>
                  <th scope="col">FURNITURE</th>
                  <!-- <th scope="col">SCHOOL WATER & SANITATION</th> -->
                </tr>
              </thead>
              <tbody>
                {{#each all}}
                <tr>
                  <td class="text-default">{{this.schoolName}}</td>
                  <td></td>
                  <td class="text-default">{{this.schoolId}}</td>
                  <td class="text-default">{{this.address}}</td>
                  <td></td>
                  <td class="text-success">{{total_buildings}}</td>
                  <td class="text-success">{{total_bwsf}}</td>
                  <td class="text-success">{{total_rooms}}</td>
                  <td class="text-success">{{total_facilities}}</td>
                  <td class="text-success">{{total_furniture}}</td>
                  <!-- <td class="text-success">{{total_sbwsf}}</td> -->
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--  ***************** REQUEST Building Modal *********************** -->
<div class="modal fade requestBuilding" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12 text-center mt-4">
            <h2 class=""> BUILDING INFORMATION</h2>
          </div>
          <div class="col-xl-5">
            <input type="text" id="_id1" hidden>
            <img class="img-thumbnail" id="img_edit" />
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-xl-12 text-center mt-4">
                <h3 class=""> BUILDING DAMAGES</h3>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="roof" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="paint" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="wall" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="cel" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="crk" readonly>
              </div>

            </div>
          </div>
          <div class="col-xl-12 text-center mt-4">
            <h3 class=""> BUILDING CONDITION</h3>
          </div>
          <div class="col-xl-6 pt-3">
            <label>School Name</label>
            <input class="form-control text-blue" type="text" name="" id="school" value="school" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Building Number</label>
            <input class="form-control text-blue" type="text" name="" id="num" value="num" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>LEVEL OF DAMAGE</label>
            <input class="form-control text-red" type="text" name="" id="per" readonly>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Building Condition</label>
            <input class="form-control text-red" type="text" name="" id="con" value="con" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Status</label>
            <input class="form-control text-red" type="text" name="" id="stat" value="stat" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 pt-2">
            <label for="exampleFormControlTextarea1">Note</label>
            <textarea class="form-control text-blue" id="note" aria-valuemax="note" rows="3" disabled></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- **************************** REQUEST APPROVED BUILDING Modal ****************************** -->
<div class="modal fade approvedModal" data-backdrop="static">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">thumb_up</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form action="/admin/approved" method="POST">
        <div class="modal-body">

          <p>Do you really want to approved this request? This process cannot be undone.</p>
          <input type="hidden" id="req_id" name="id">
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Approved</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--  ***************** REQUEST Room Modal *********************** -->
<div class="modal fade requestRoom" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12 text-center mt-4">
            <h2 class=""> ROOM INFORMATION</h2>
          </div>
          <div class="col-xl-6">
            <input type="text" id="_id1" hidden>
            <img class="img-thumbnail" id="img_edit1" />
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-xl-12 text-center mt-4">
                <h3 class=""> ROOM DAMAGES</h3>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="dr" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="wnd" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="flring" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="bm" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="clmn" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="brd" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="wll" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="ceil" readonly>
              </div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="toi" readonly>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <label></label>
                <input class="form-control text-blue" type="text" name="" id="elec" readonly>
              </div>
              <div class="col-sm-4"></div>
            </div>
          </div>
          <div class="col-xl-12 text-center mt-4">
            <h3 class=""> ROOM CONDITION</h3>
          </div>
          <div class="col-xl-6 pt-3">
            <label>School Name</label>
            <input class="form-control text-blue" type="text" name="" id="rschool" value="rschool" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Building Number</label>
            <input class="form-control text-blue" type="text" name="" id="bnum" value="bnum" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Floor</label>
            <input class="form-control text-blue" type="text" name="" id="flr" value="flr" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Room Number</label>
            <input class="form-control text-blue" type="text" name="" id="rnum" value="rnum" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Room Condition</label>
            <input class="form-control text-red" type="text" name="" id="rcon" value="rcon" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Level of Damage</label>
            <input class="form-control text-red" type="text" name="" id="pers" disabled>
          </div>
          <div class="col-xl-4 pt-3">
            <label>Status</label>
            <input class="form-control text-red" type="text" name="" id="rstat" value="rstat" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 pt-2">
            <label for="exampleFormControlTextarea1">Note</label>
            <textarea class="form-control text-blue" id="rnote" aria-valuemax="rnote" rows="3" disabled></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- **************************** REQUEST APPROVED ROOM Modal ****************************** -->
<div class="modal fade approvedModal1" data-backdrop="static">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">thumb_up</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form action="/admin/approvedRoom" method="POST">
        <div class="modal-body">

          <p>Do you really want to approved this request? This process cannot be undone.</p>
          <input type="hidden" id="aprvd" name="id1">
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Approved</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- **************************** REQUEST APPROVED OTHER Modal ****************************** -->
<div class="modal fade approvedModal3" data-backdrop="static">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">thumb_up</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form action="/admin/approvedOther" method="POST">
        <div class="modal-body">

          <p>Do you really want to approved this request? This process cannot be undone.</p>
          <input type="hidden" id="otherAprv" name="id3">
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Approved</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- ****************************request building script************************************************** -->
<script>
  $('.requestBtn').click(function () {

    $('#_id').val($(this).attr('data-id'));
    $("#img_edit").attr("src", $(this).attr('data-img'));
    $('#num').val($(this).attr('data-num'));
    $('#con').val($(this).attr('data-con'));
    $('#stat').val($(this).attr('data-stat'));
    $('#note').val($(this).attr('data-note'));
    $('#per').val($(this).attr('data-percentage'));
    $('#roof').val($(this).attr('data-roof'));
    $('#paint').val($(this).attr('data-paint'));
    $('#wall').val($(this).attr('data-wall'));
    $('#cel').val($(this).attr('data-ceiling'));
    $('#crk').val($(this).attr('data-crack'));
    $('#school').val($(this).attr('data-schlname'));
    $('.requestBuilding').modal('show');
  });
</script>
<!-- ****************************request approved builiding script ****************************** -->
<script>
  $('.approveBtn').click(function () {
    $('#req_id').val($(this).attr('data-id'));

    $('.approvedModal').modal('show');
  });
</script>
<!-- ****************************request room script************************************************** -->
<script>
  $('.requestBtn1').click(function () {

    $('#_id1').val($(this).attr('data-id1'));
    $("#img_edit1").attr("src", $(this).attr('data-img1'));
    $('#rnum').val($(this).attr('data-rnum'));
    $('#rcon').val($(this).attr('data-rcon'));
    $('#rstat').val($(this).attr('data-rstat'));
    $('#rnote').val($(this).attr('data-rnote'));
    $('#bnum').val($(this).attr('data-bnum'));
    $('#flr').val($(this).attr('data-flr'));
    $('#pers').val($(this).attr('data-percentage'));
    $('#dr').val($(this).attr('data-door'));
    $('#wnd').val($(this).attr('data-window'));
    $('#flring').val($(this).attr('data-flooring'));
    $('#bm').val($(this).attr('data-beam'));
    $('#clmn').val($(this).attr('data-column'));
    $('#brd').val($(this).attr('data-board'));
    $('#wll').val($(this).attr('data-wall'));
    $('#ceil').val($(this).attr('data-ceiling'));
    $('#toi').val($(this).attr('data-toilet'));
    $('#elec').val($(this).attr('data-electric'));
    $('#rschool').val($(this).attr('data-rschlname'));
    $('.requestRoom').modal('show');
  });
</script>
<!-- ****************************request approved room script ****************************** -->
<script>
  $('.approveBtn1').click(function () {
    $('#aprvd').val($(this).attr('data-id2'));

    $('.approvedModal1').modal('show');
  });
</script>
<!-- ****************************request approved other script ****************************** -->
<script>
  $('.approveBtn3').click(function () {
    $('#otherAprv').val($(this).attr('data-id3'));

    $('.approvedModal3').modal('show');
  });
</script>



<!-- chart script --><!-- chart script -->
<!-- chart.js -->
<!-- <script src="https://cdnjs.com/libraries/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="https://www.jsdelivr.com/package/npm/chart.js"></script> -->
<script>
  chartBar();
  chartPie();



  function chartBar() {
    const ctx = document.getElementById('myChart1').getContext('2d');
    const myChart1 = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange',
          'Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Damage',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132)',
            'rgba(54, 162, 235)',
            'rgba(255, 206, 86)',
            'rgba(75, 192, 192)',
            'rgba(153, 102, 255)',
            'rgba(255, 159, 64)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  }
  function chartPie() {
    const ctxs = document.getElementById('myCharts').getContext('2d');
    const myCharts = new Chart(ctxs, {
      type: 'pie',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132)',
            'rgba(54, 162, 235)',
            'rgba(255, 206, 86)',
            'rgba(75, 192, 192)',
            'rgba(153, 102, 255)',
            'rgba(255, 159, 64)'
          ],
          borderColor: [
            'rgba(255, 99, 132)',
            'rgba(54, 162, 235)',
            'rgba(255, 206, 86)',
            'rgba(75, 192, 192)',
            'rgba(153, 102, 255)',
            'rgba(255, 159, 64)'
          ],
          borderWidth: 1,
          hoverOffset: 4
        }]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  }
</script>
<!-- ****************************datatables script************************************************** -->
<script>
  $(document).ready(function () {
    $('#breq').DataTable({
      dom: 'Bfrtip',
      buttons: [
      ]
    });
  });
  $(document).ready(function () {
    $('#rreq').DataTable({
      dom: 'Bfrtip',
      buttons: [
      ]
    });
  });
  $(document).ready(function () {
    $('#req').DataTable({
      dom: 'Bfrtip',
      buttons: [
      ]
    });
  });
</script>
<!-- DATA TABLES SCRIPT -->
<script>
  $(document).ready(function () {
    $('#report').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'excel', 'pdf', 'print'
      ]
    });
  });
</script>