<div class="bg-default" style="height: 1369px;">
  <!-- Navbar -->
  <!-- Navbar -->
 <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light mt-5">
  <div class="container">
    <a class="navbar-brand" href="">
      <img src="../assets/img/logo/image.png">
    </a>
    <a class="navbar-brand" href="">
      <img src="../assets/img/logo/MC.png">
    </a>
  </div>
</nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">School Building Inventory System</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--9 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-5">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4"><small>Sign up</small></div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">

              <form class="needs-validation" method="POST" action="/signup" enctype="multipart/form-data" nonvalidate>
                <div class="form-row">
                  <div class="col-md-4">
                    <center>
                      <img class="img-thumbnail" id="logoResult" />
                    </center>
                    <input id="uploads" name="logo" type="file" accept=".jpg,.jpeg" onchange="readURLs(this);"
                      class="form-control border-0" required />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-8 mb-2">
                    <label>School Name</label>
                    <select class='form-control fstdropdown-select' searchdisable="true" id="second" name="schoolName" required>

                      {{#each list_data}}
                      <option data-schoolID="{{this.schoolId}}" data-address="{{this.address}}" value="{{this.schoolName}}">{{this.schoolName}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <!-- <div class=""col-nd-8>
                        <center>
                          <img
                            class="img-fluid"
                            id="imageResult"
                            src="{{credentials.profile_img}}"
                            class="rounded-circle"
                          />
                        </center>
                        <input
                            id="upload"
                            name="image"
                            type="file"
                            accept=".jpg,.jpeg"
                            onchange="readURL(this);"
                            class="form-control border-0"
                            required
                        />
                  </div> -->
                  <!-- <div class="col-md-8 mb-2">
                    <label for="validationTooltip03">School Name</label>
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="" name="schoolName"
                      required>
                  </div> -->
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip04">School Address</label>
                    <input type="text" class="form-control" id="address" value="Address" placeholder="" name="address"
                      required readonly>
                    <!-- <select class='form-control fstdropdown-select' searchdisable="true" id="second" name="address" required>
                      <option value="">CHOOSE SCHOOL ADDRESS</option>
                      {{#each list_data}}
                      <option value="{{this.address}}">{{this.address}}</option>
                      {{/each}}
                    </select> -->
                    <!-- <input type="text" class="form-control" id="validationTooltip04" placeholder="" name="address"
                      required> -->
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip05">School ID</label>
                    <input type="text" class="form-control" id="schoolID" placeholder="" name="schoolId" required readonly>
                    <!-- <select class='form-control fstdropdown-select' searchdisable="true" id="second" name="schoolId" required>
                      <option value="">CHOOSE SCHOOL ID</option>
                      {{#each list_data}}
                      <option value="{{this.schoolId}}">{{this.schoolId}}</option>
                      {{/each}}
                    </select> -->
                    <!-- <input type="number" class="form-control" id="validationTooltip05" placeholder="" name="schoolId"
                      required> -->
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3 mb-2">
                    <center>
                      <img class="img-thumbnail" id="imageResult" src="{{credentials.profile_img}}"
                        class="rounded-circle" />
                    </center>
                    <input id="upload" name="image" type="file" accept=".jpg,.jpeg" onchange="readURL(this);"
                      class="form-control border-0" required />
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">First name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="" name="firstname"
                      required>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip02">Last name</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="" name="lastname"
                      required>

                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">Email</label>
                    <input type="email" class="form-control" id="validationTooltip01" placeholder="" name="email"
                      required>

                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationTooltip02">Password</label>
                    <input type="password" class="form-control" id="validationTooltip02" placeholder="" name="password"
                      required>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="/login" class="text-light"><small>Back to Login</small></a>
            </div>
            <div class="col-6 text-right">

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="py-5" id="footer-main">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2022
              <a href="" class="font-weight-bold ml-1" target="_blank">nOOb</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="" class="nav-link" target="_blank">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>


  <!-- UPLAOD Image -->
  <script>
    /*  ==========================================
      SHOW UPLOADED IMAGE
  * ========================================== */
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $("#imageResult").attr("src", e.target.result);
          $("#imgdatainputs").val(e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(function () {
      $("#upload").on("change", function () {
        readURL(input);
      });
    });

    /*  ==========================================
      SHOW UPLOADED IMAGE NAME
  * ========================================== */
    var input = document.getElementById("upload");
    var infoArea = document.getElementById("upload-label");

    input.addEventListener("change", showFileName);
    function showFileName(event) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = "File name: " + fileName;
    }
  </script>
  <!-- UPLAOD  LOGO Image -->
  <script>
    /*  ==========================================
        SHOW UPLOADED IMAGE
    * ========================================== */
    function readURLs(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $("#logoResult").attr("src", e.target.result);
          $("#imgdatainput").val(e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(function () {
      $("#uploads").on("changes", function () {
        readURLs(input);
      });
    });

    /*  ==========================================
      SHOW UPLOADED IMAGE NAME
  * ========================================== */
    var input = document.getElementById("uploads");
    var infoArea = document.getElementById("upload-labels");

    input.addEventListener("changes", showFileName);
    function showFileName(event) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = "File name: " + fileName;
    }
  </script>

  <!------------------------
   SELECT WITH DROPDOWN 
  ------------------------->
  <script>
    function setDrop() {
      if (!document.getElementById('third').classList.contains("fstdropdown-select"))
        document.getElementById('third').className = 'fstdropdown-select';
      setFstDropdown();
    }
    setFstDropdown();
    function removeDrop() {
      if (document.getElementById('third').classList.contains("fstdropdown-select")) {
        document.getElementById('third').classList.remove('fstdropdown-select');
        document.getElementById("third").fstdropdown.dd.remove();
        document.querySelector("#third~.fstdiv").remove();
      }
    }
    function addOptions(add) {
      var select = document.getElementById("fourth");
      for (var i = 0; i < add; i++) {
        var opt = document.createElement("option");
        var o = Array.from(document.getElementById("fourth").querySelectorAll("option")).slice(-1)[0];
        var last = o == undefined ? 1 : Number(o.value) + 1;
        opt.text = opt.value = last;
        select.add(opt);
      }
    }
    function removeOptions(remove) {
      for (var i = 0; i < remove; i++) {
        var last = Array.from(document.getElementById("fourth").querySelectorAll("option")).slice(-1)[0];
        if (last == undefined)
          break;
        Array.from(document.getElementById("fourth").querySelectorAll("option")).slice(-1)[0].remove();
      }
    }
    function updateDrop() {
      document.getElementById("fourth").fstdropdown.rebind();
    }
  </script>
  <!-- **************************** get select script ****************************** -->
  <script>
    $('#second').on('change', function() {
      var address = $(this).find(":selected").attr('data-address');
      var schoolID = $(this).find(":selected").attr('data-schoolId');
      $("#address").val(address);
      $("#schoolID").val(schoolID);

     
    });
  </script>